* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-size: 16px;
    font-weight: 500;
    font-family: '微软雅黑';
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body table {
    user-select: text;
}

.navbar {
    background-color: #f8f9fa;
}

.user {
    margin-right: .5rem;
}

.user .dropdown-menu {
    left: auto;
    right: 10px;
    top: 70%;
}

#teacherHome {
    width: 1000px;
    border-radius: 10px;
    background-color: #fff;
    margin: 20px auto;
    overflow: hidden;
    padding: 30px 0;
}

#teacherHome::after {
    display: block;
    content: '';
    clear: both;
}

#teacherHome .container {
    width: 90% !important;
    margin: 20px auto;
    padding: .5rem !important;
    
}

#teacherHome .container .title {
    font-size: 20px;
    font-weight: 600;
    font-family: '微软雅黑';
    color: #333;
    border-bottom: 2px solid #07b;
}

.container .title::before {
    display: inline-block;
    content: '';
    width: 6px;
    height: 28px;
    vertical-align: middle;
    background-color: #07b;
    margin-right: 5px;
}

.container ul {
    list-style: none;
}

.container ul li {
    padding-left: 15px;
    margin: 3px 0;
}

.container ul li:hover {
    background-color: #eee;
    cursor: pointer;
}

.container ul li a {
    color: #08c;
    text-decoration: none;
    cursor: pointer;
}

#footer {
    margin: 30px 0;
    text-align: center;
    font-weight: 600;
}