* {
    margin: 0;
    padding: 0;
}

.dropdown {
    display: inline-block;
}

body {
    background-color: #eee;
}

ul.dropdown-menu .dropdown-item {
    cursor: pointer;
}

/* 登录容器 */
.log-container {
    width: 400px;
    height: 430px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: auto;
    position: absolute;
    top: -30px;
    right: 0;
    bottom: 0;
    left: 0;
}

/* 登录标题 */
h1.log-title {
    font-size: 28px;
    margin-bottom: 20px;
}

/* 忘记密码 */
#forget-password {
    font-size: 14px;
    color: #09d;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    margin: 7px;   
}

#forget-password:hover {
    color: #07b;
}

/* 验证码 */
#GVerify input {
    width: 200px;
    display: inline-block;
}

#GVerify canvas {
    margin-bottom: -13px;
}