<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录在线考试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

    <!-- 登录窗口 -->
    <div class="log-container">

        <!-- 登录标题 -->
        <h1 class="log-title">用户登录</h1>

        <!-- 用户名 -->
        <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="用户名">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
            <small id="username-em" class="form-text text-danger"></small>
        </div>

        <!-- 密码 -->
        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="密码">
            <small id="password-em" class="form-text text-danger"></small>
        </div>

        <!-- 用户类型 -->
        <div class="form-group">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    <span>考生</span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">考生</li>
                    <li class="dropdown-item">教师</li>
                    <li class="dropdown-item">管理员</li>
                </ul>
            </div>
            <span class="float-right" id="forget-password">忘记密码</span>
        </div>

        <div class="form-group" id="GVerify">
            <input type="text" class="form-control" id="verificationCode" placeholder="验证码">
        </div>

        <!-- 登录按钮 -->
        <div class="form-group">
            <button class="btn btn-danger w-100" id="login">登录</button>
        </div>
    </div>

</body>

<script src="/libraries/jquery/jquery.min.js"></script>
<script src="/libraries/layui/layui.all.js"></script>
<script src="/libraries/popper.js/popper.min.js"></script>
<script src="/libraries/bootstrap/bootstrap.min.js"></script>
<script src="/libraries/GVerify/GVerify.js"></script>
<script src="/javascript/app.js"></script>

</html>