<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录在线考试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/library/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/library/index/style.css">
</head>

<body>

    

</body>

<script src="/config/url.js"></script>
<script src="/library/jquery/jquery.min.js"></script>
<script src="/library/layui/layui.all.js"></script>
<script src="/library/popper.js/popper.min.js"></script>
<script src="/library/bootstrap/bootstrap.min.js"></script>
<script src="/library/GVerify/GVerify.js"></script>
<script src="/library/index/app.js"></script>

</html>