<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/home.css">
</head>

<body>

    <!-- 顶部 -->
    <div class="navbar">

        <!-- logo -->
        <span class="navbar-brand logo" href="#">
            <img src="/images/favicon.ico" width="30" height="30" class="d-inline-block align-top">
            在线考试信息系统
        </span>

        <!-- 用户 -->
        <span class="float-right user">
            <a class="dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"></a>
            <div class="dropdown-menu float-right">
                <a class="dropdown-item" href="#">修改密码</a>
                <a class="dropdown-item" href="/">注销用户</a>
            </div>
        </span>
    </div>

    <div id="teacherHome">

        <div class="container">
            <h2 class="title">试题管理</h2>
            <ul>
                <li><a href="#" target="_self">题目录入</a></li>
                <li><a href="#" target="_self">分类检索</a></li>
                <li><a href="#" target="_self">题目管理</a></li>
                <li><a href="#" target="_self">题库管理</a></li>
            </ul>
        </div>

        <div class="container">
            <h2 class="title">试卷管理</h2>
            <ul>
                <li><a href="#" target="_self">生成试卷</a></li>
                <li><a href="#" target="_self">检索试卷</a></li>
                <li><a href="#" target="_self">管理试卷</a></li>
                <li><a href="#" target="_self">阅卷</a></li>
            </ul>
        </div>

    </div>

    <div id="footer">
        Copyright (c) 2019 <a href="https://github.com/Gu-Miao" target="_blank">Hikamai</a>
    </div>

</body>

<script src="/libraries/jquery/jquery.min.js"></script>
<script src="/libraries/layer/layer.js"></script>
<script src="/libraries/popper.js/popper.min.js"></script>
<script src="/libraries/bootstrap/bootstrap.min.js"></script>
<script src="/javascript/home.js"></script>

</html>