<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/libraries/b4-table/b4-table.min.css">
    <link rel="stylesheet" href="/stylesheet/home.css">
    <link rel="stylesheet" href="/stylesheet/layerpage.css">
</head>

<body>
    <div class="form-row w-100 p-1 m-0 mt-2"></div>
    <div class="fixed-bottom text-center p-2 bg-light mt-5">
        <button id="sub" class="btn btn-primary px-4">提交</button>
    </div>
</body>

<script src="/libraries/jquery/jquery.min.js"></script>
<script src="/libraries/layer/layer.js"></script>
<script src="/libraries/popper.js/popper.min.js"></script>
<script src="/libraries/bootstrap/bootstrap.min.js"></script>
<script src="/libraries/laydate/laydate.js"></script>
<script src="/libraries/b4-table/b4-table.min.js"></script>
<script src="/javascript/main.js"></script>
<script src="/javascript/home.js"></script>
<script src="/javascript/layerData.js"></script>
<script src="/javascript/layerPage.js"></script>
<script src="/javascript/examManagementLayer/change.js"></script>

</html>